@import "~materialize-css/dist/css/materialize.min.css";

.card-action button {
  margin-right: 1rem;
}

.addf {
  margin-top: 0.5rem;
}

.brand-logo {
  margin-left: 0.5rem;
}

.authp {
  width: 70%;
}
